body{
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
    
    display: flex;
    justify-items: center;
    align-items: center;    
}
.card{
    background-color: white;

}
.resim{
    width: 100%;
    border-radius: 15px;
}
.bilgilerim{
    font-weight: bold;
    background-color: darkgoldenrod;
    margin-top: 15px;
    margin-bottom: 15px;

}
